For loops

In [4]:
s = "Simplilearn"
for i  in s:
    print(i , end = " ")

S i m p l i l e a r n

In [5]:
# use for loops in a list

In [6]:
programming = ["Java", "Python","Ruby","HTML"]
for items in programming:
    print(items)

Java
Python
Ruby
HTML

In [7]:
#Find the average of a list of numbers

In [8]:
list_num = [20,15,50,45,60]
sum =0
for i in list_num:
    sum = sum + i
print ("Sum =", sum)
print ("Average = " , sum/len(list_num))

Sum = 190
Average =  38.0

In [9]:
# For loop usinga tuple

In [11]:
num = (30,45,60,50,70)
sum = 0 
for i in num :
    sum = sum + i
print(sum)

255

In [12]:
# Range function in python

In [13]:
for i in range (1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [15]:
for i in range(0,10,2):
    print("Display values with a step size of 2:",i)

Display values with a step size of 2: 0
Display values with a step size of 2: 2
Display values with a step size of 2: 4
Display values with a step size of 2: 6
Display values with a step size of 2: 8

In [16]:
# Program to print table of a given number

In [18]:
n =int(input("Enter the number"))
for i in range (1,11):
    mul = n*i
    print (n,"*",i, "=",mul)

Enter the number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [19]:
list2 = ["C++","Java","Python","R"]
for i in range (len(list2)):
    print ("Hello", list2[i])

Hello C++
Hello Java
Hello Python
Hello R

In [20]:
# Nested for loop

In [23]:
companies =["Google","Apple","PWC","Uber"]
for i in companies:
    print ("We will display each letter of "+i)
    for letter in i:
        print(letter)

We will display each letter of Google
G
o
o
g
l
e
We will display each letter of Apple
A
p
p
l
e
We will display each letter of PWC
P
W
C
We will display each letter of Uber
U
b
e
r

In [24]:
 # for loop with else clause

In [25]:
for i in range (0,10,3):
    print(i)
else:
    print ("The loop has completed execution")

0
3
6
9
The loop has completed execution

In [26]:
# Break
for i in range(1,10):
    if (i==6):
        break
    print(i)

1
2
3
4
5

In [27]:
#continue
for i in range (1,10):
    if ( i ==6):
        continue #skip
    print(i)

1
2
3
4
5
7
8
9

In [29]:
# Program to display the totalsgoals a player has scored
player_name = "Messi"
goals = {"Edison": 14,"Bernat":3, "Carmelo": 7}
for player in goals :
    if player == player_name:
        print(goals[player])
        break
else:
    print ("No player with that name found: ")

No player with that name found:

In [31]:
# Cube of the nbumber
num = [2,5,7,4,8,6]
cube = []
for i in num:
    cube.append(i**3)
print(cube)

[8, 125, 343, 64, 512, 216]

In [33]:
# Pattern printing
n = int(input("Enter the number of rows"))
for i in range (0,n):
    for j in range(0,i+1):
        print("*", end = "")
    print ()

Enter the number of rows 5

*
**
***
****
*****

In [34]:
range(6)

range(0, 6)

In [35]:
print(range(6))

range(0, 6)

In [36]:
range(6)

range(0, 6)

In [37]:
print(range)

<class 'range'>

In [38]:
for i in range(5):
    print (i)

0
1
2
3
4

In [39]:
sum = 0
for i in range (10):
    sum = sum+i
print(sum)

45

In [40]:
# Jenny Lectures
# Syntax
# for var_name in sequence: 
#    statements

In [42]:
name = ["Bishwas","Mandira","Anika"]
for i in name:
    print(i)

Bishwas
Mandira
Anika

In [49]:
numbers = [2,3,5,-2,10]
squares=[]
for i in numbers:
    square = i**2
    squares.append(square)
print("The list of squares is : " , squares)

The list of squares is :  [4, 9, 25, 4, 100]

In [50]:
# for else
#Syntax
# for var_name in sequence :
#     statement(s)
# else:
#    statement(s)

In [53]:
numbers =[2,3,5,-1,0,53]
for i in numbers:
    print(i)
    if i ==0:
        break
    
else:
    print ("Successfully completed")

2
3
5
-1
0